$emiyellow : #dbb33b;
$banner-img: url('../images/heading-banner.png');
a{
    color: $emiyellow;
}
.page-header{
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: $banner-img;
    background-repeat: no-repeat;
    background-color: #262621;
    margin-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    h1 {
        margin: 0;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, .5);
        padding: 10px;
        padding-right: 50px;
        display: inline-block;
        border-bottom: 5px solid $emiyellow;
        font-weight: 100;
        text-align: center;
    }
}
body{
    padding-top: 100px;
}
.navbar{
    padding: 1rem;
    padding-top: 0;
}
.btn-custom {
    color: #fff;
    background-color: $emiyellow;
    border-color: $emiyellow;
    font-weight: 700;
    &:hover{
        background: black;
        color: #fff;
        border-color: #000;
    }
}
.navbar-custom{
    background-color: #000;
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
        
    }
    .navbar-brand{
        margin-right: 50px;
        img{
            width: 200px;
        }
    }
    a{
       color: #fff;
    //    font-weight: bold;
       &:hover, &.active{
           color: red;
       }
    }
    .nav-link{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .book-now{
        background-color: red;
        a:hover, a.active{
            color: #000;
        }
    }
    .nav-right{
        text-align: right;
    }
    .dropdown-menu{
        background-color: rgba(0, 0, 0, .5);
        margin-top: 20px;
        .dropdown-item{
            &:hover, &.active{
                background-color: transparent;
                color: $emiyellow;
                
            }
        }
    }
}
.full-banner{
    height: 500px;
    &.slide1{
        background-image: url('../images/slide/eminent-limo-prime-limo-company.jpg');
    }
    &.slide2{
        background-image: url('../images/slide/eminent-limo-airport-limo-service.jpg');
    }
    &.slide3{
        background-image: url('../images/slide/slide3.jpg');
    }
    .box{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0,0,0, 0.5);
        text-align: center;
        padding: 15px 0 15px 0;
        color: #fff;
        h2{
            font-size: 72px;
            font-family: 'Roboto Condensed',
            sans-serif;
            margin-bottom: 0;
        }
        h3{
            margin-top: 0;
            font-family: 'Roboto Condensed', sans-serif;
            color: #f0c540;
        }
    }
    .inner-block {
        margin-top: 100px;
        padding: 20px;
        background-color: rgba(219, 179, 59, .5);
        color: #fff;
        h2 {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 900;
            font-size: 60px;
            margin-bottom: 0;
        }
        h3 {
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            font-size: 40px;
        }
        p {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 0;
        }
        a.btn-custom{
            margin-top: 20px;
            background-color: #fff;
            border-color: #fff;
            color: #000;
            text-transform: uppercase;
        }
    }
}
.home-section{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.home-section-h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    &::after {
        margin-top: 10px;
        display: block;
        content: "";
        border-bottom: 5px solid #000;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
}
.intro-text{
    @extend .home-section;
    // background-color: $emiyellow;
    color: #000;
    h1{
        font-family: 'Roboto Condensed', sans-serif;
    }
    p{
        margin: 0;
        font-size: 24px;
        color: #000;
        font-weight: 100;
    }
    .book{
        margin-top: 30px;
        border-radius: 0;
        border-color: #000;
        background-color: #000;
        color: #fff;
        font-weight: 700;
        &:hover{
            border-color: #000;
            background-color: black;
        }
    }
}
.services{
    @extend .home-section;
    background-color: #eee;
        .p-text-link {
        color: $emiyellow;
    }
    .box{
        .header{
            h3{
               @extend .home-section-h3;
               font-weight: 100;
               text-transform: uppercase;
               margin-bottom: 30px;
            }
            p{
                font-size: 18px;
                font-weight: 100;
            }
        }
    }
    .nav-item{
        text-transform: uppercase;
        font-weight: 100;
        color: #000;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 120%;
        &.active{
            background-color: $emiyellow;
            color: #fff;

        }
    }
    .tab-content{
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
        h6{
            font-weight: 100;
            text-transform: uppercase;
            font-size: 150%;
            color: $emiyellow;
        }
        p{
            color: #666;
            font-weight: 100;
        }
    }
}
.fleet{
    padding-bottom: 100px;
    .header{
        text-align: center;
        color: rgb(36, 36, 36);
        h3{
            font-family: 'Roboto Condensed',
            sans-serif;
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 400;
            text-align: center;
            &::after {
                display: block;
                content: "";
                border-bottom: 5px solid rgb(255, 255, 255);
                width: 100px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        p{
            font-size: 18px;
        }
    }
    .card{
        border-radius: 0;
        .featured{
            position: absolute;
            right: 0;
            padding: 5px;
            background-color: #cc3333;
            color: #fff;
            margin-top: -1.25rem;
            font-size: 12px;
        }
        .card-img-overlay{
            .card-title{
                text-align: left;
                background-color: rgba(0, 0, 0, .5);
                font-family: 'Roboto Condensed',
                sans-serif;
                color: #fff;
                margin-bottom: 5px;
                display: inline-block;
                border-bottom: 5px solid #fff;
                padding: 10px;
                font-size: 20px;
            }
            .card-subtitle{
                margin-top: 5px;
                color: #fff !important;
            }
            .price{
                margin-top: 5px;
                color: #fff;
                .value{
                    background-color: rgba(240,197,64, 0.5);
                    padding: 5px 10px;
                    font-family: 'Roboto Condensed',
                    sans-serif;
                    font-weight: 400;
                    .hour{
                        font-size: 70%;
                    }
                }
            }
        }
        .card-body{
            font-family: 'Lato', sans-serif;
            font-size: 14px;
        }
    }
    .card-img-top{
        border-radius: 0;
    }
}
footer{
    background-color: #222;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
    .autorize-badge{
        text-align: center;
        img{
            width: 70px;
            height: auto;
        }
    }
    .box{
        strong{
            color: #fff;
        }
        h3{
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
        }
        p{
            font-size: 13px;
            font-family: 'Lato',
            sans-serif;
            color: #aaa;
            line-height: 200%;
        }
        .first-word{
            color: $emiyellow;
        }
    }
    .site-info{
        font-size: 14px;
        color: #6e6e6e;
        text-align: center;
    }
    .yelp-box{
        margin-top: 10px;
    }
    .social{
        a{
            color: #222;
            background-color: #646464;
            // padding-left: 10px;
            // padding-right: 10px;
            font-size: 20px;
            display: inline-block;
            text-align: center;
            width: 30px;
            &.facebook:hover{
                background-color: #3b5998;
            }
            &.yelp:hover{
                background-color: #c41200;
            }
            &.twitter:hover{
                background-color: #0084b4;
            }
            &.instagram:hover{
                background-color: #cd486b;
            }
            &:hover{
                color: #fff;
            }
        }
    }
}
#contact-page{
    background-color: #222;
    padding-bottom: 50px;
    hr{
        border-color: #fff;
        margin-top: 30px;
        margin-bottom: 0;
    }
    header {
       @extend .page-header;
    }
    label{
        color: $emiyellow;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
    }
    input[type="text"], input[type="email"] {
        background-color: #666;
        border: none;
        border-radius: 0;
        height: 40px;
        color: #000;;
    }
    textarea{
        background-color: #666;
        border: none;
        border-radius: 0;
        color: #000;
    }
    input[type="submit"]{
        background-color: $emiyellow;
        border: none;
        color: #fff;
        padding: 5px 15px;
    }
    .wpcf7-validation-errors{
        color: #fff;
    }
}
#book-page{
   header{
       @extend .page-header;
   }
}
#blog{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eee;
    .card-columns{
        @include media-breakpoint-up(sm) {
            column-count: 2 !important;
        }
    }
    .card-title{
        text-align: center;
        font-weight: 100;
        text-transform: uppercase;
        a{
            color: $emiyellow;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .card-text{
        font-weight: 100;
        color: #555;
        line-height: 200%;
    }
}

#cities{
        padding-top: 50px;
        padding-bottom: 50px;
    .header {
        p {
            font-size: 20px;
        }
        h3 {
            @extend .home-section-h3;
            text-align: center;
        }
    }
    .state-name{
        text-transform: uppercase;
        color: $emiyellow;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .cities{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            background-color: $emiyellow;
            color: #fff;
            list-style: none;
            padding: 5px 10px;
            margin-bottom: 15px;
        }
    }
}
#other-pages{
    line-height: 170%;
    font-size: 110%;
    font-weight: 100;
    padding-bottom: 20px;
    header {
        @extend .page-header;
    }
    h3.subtitle{
        @extend .home-section-h3;
        text-align: center;
    }
}
.about{
    .card{
        margin-bottom: 10px;
    }
    .card-title{
        font-size: 110%;
        font-weight: 500;
        color: red;
    }
    .card-text{
        font-weight: 100;
    }
}
.more-link{
    margin-top: 10px;
}
.single{
    background-color: #eee;
    .content-area{
        background-color: #fff;
    }
    article{
                    header{
                        background-color: transparent;
                    }
        .entry-header h1{
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 100;
            text-align: center;
            color: $emiyellow;
            &::after {
                display: block;
                content: "";
                border-bottom: 2px solid $emiyellow;
                ;
                width: 100px;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .entry-content{
            // margin-top: 30px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 100;
            .teaser{
                padding-top: 30px;
                padding-bottom: 30px;
                text-align: center;
                font-weight: 700;
                color: #5c5c5c;
                font-size: 120%;
            }
            h3.about{
                text-transform: uppercase;
            }
            a{
                color: $emiyellow;
            }
            a.book-now{
                color: #fff;
            }
        }
    }
}
.rate-box{
    margin-bottom: 20px;
}
.rates{
    background-color: $emiyellow;
    font-size: 12px;
    padding: 20px 15px;
    text-align: center;
    margin-right: 2px;
    .title{
        color: #fff;
        font-weight: 600;
        height: 60px;
        border-bottom: 3px solid #000;
        margin-bottom: 5px;
    }
    .price{
        color: red;
        font-weight: 700;
    }
    .content{
        padding-top: 10px;
        font-weight: 100;
    }
}
.post-h3{
    @extend .home-section-h3;
    font-size: 30px;
    &::after{
        display: none;
    }
}

.pagination{
    width: 100%;
    margin-top: 20px;
    .nav-links{
            display: block;
            width: 100%;
            text-align: center;
    }
    a.page-numbers,{
        color: $emiyellow;
        &:hover{
            background-color: $emiyellow;
            color: #fff;
        }
    }
    .page-numbers {
        background-color: #fff;
        color: #212529;
        padding: 5px 10px;
        margin: 0 2px 0 0;
        border: 1px solid rgb(255, 255, 255);
        line-height: 1;
        text-decoration: none;
        border-radius: 2px;
        &.current{
            background-color: $emiyellow;
            color: #fff;
        }
    }

}
.top{
    background-color: #000;
        .top-header{
            padding-top: 10px;
            a{
                color: #c6c6c6;
            }
            .phone, .social{
                display: inline-block;
                margin-left: 20px;
            }
            .phone{
                font-weight: 700;
                color: $emiyellow;
            }
           .social {
               a {
                   display: inline-block;
                   text-align: center;
                   width: 20px;
               }
           }
        }
}
.error-404 {
    padding-top: 50px;
    padding-bottom: 50px; 
    height: 450px;
    font-weight: 300;
    font-size: 16px;
    .page-title {
        margin: 40px 0;
        text-align: center;
        color: $emiyellow;
    }
    p {
        padding: 30px 0;
    }
    a {
        border-radius: 5px;
        padding: 10px 15px;
        background-color: $emiyellow;
        color: #fff;
        &:hover {
            background-color: #ccc;
            text-decoration: none;
        }
    }
}
#home-services{
    // @extend .home-section;
    text-align: left;
    .title{
        @extend .home-section-h3;
        text-align: center;
    }
    .card{
        h3{
            font-size: 40px;
            font-weight: 900;
        }
        p{
            font-size: 16px;
            font-weight: 300;
        }
        font-family: 'Roboto Condensed',
        sans-serif;
        margin-top: 20px;
        margin-bottom: 20px;
        border: none;
        border-radius: 0;
        // box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
        color: #fff;
    }
}
#home-fleet{
    padding: 20px 0;
    .see-all{
        margin: 20px 0;
    }
    .title{
        @extend .home-section-h3;
        text-align: center;
    }

}
.our-fleet{
    // .row{
    //     border-bottom: 2px solid #ccc;
    // }
    .fleet-text{
        background-color: #f4f4f4;
        padding: 30px 20px;
        h4{
            font-weight: 900;
            margin-bottom: 0;
        }
        p{
            margin-bottom: 0px;
            padding: 0;
        }
        .price{
            margin-bottom: 10px;
            color: red;
            font-weight: 500;
        }
    }
    .item > .row{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}